#inspector {
  border: 1px solid #ddd;
  font-family: monospace;
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.5)
}

#inspector .entity {
  display: block;
  padding: 0.5em;
  position: relative;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

#inspector .entity:last-child {
  border: none;
}

#inspector .entity .property,
#inspector .entity .value {
  display: block;
  float: left;
  width: 50%;
  height: 10px;
}

#inspector .entity .property {
  font-weight: bold;
  text-align: left;
}

#inspector .entity .property:after {
  content: ':';
}

#inspector .entity .value {
  text-align: right;
}

#inspector .entity .value {
  clear: right;
}